.cats {
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 200px;
}
.cats .cat {
    float: left;
    border: 1px dotted #333;
    font: 14px Arial;
    margin: 7px;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 250px;
    padding: 7px;
    height: 480px;
}

.cat .cat__photo {
    height: 250px;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}
.cat .cat__photo img {
    width: 100%;
    vertical-align: bottom;
}

.cats .cat .cat__info .cat__info__name a {
    font-size: 1.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 1.5em;
}

.cats .cat .cat__info .cat__info__category,
.cats .cat .cat__info .cat__info__rate,
.cats .cat .cat__description,
.cats .cat .cat__info .cat__info__price
{
    margin-top: 7px;
}

.cats .cat .cat__info .cat__info__category,
.cats .cat .cat__info .cat__info__category a {
    font-size: 0.8em;
    color: #333;
}

.cats li a:hover {
    color: red;
}

.cat .cat__photo:hover {
    opacity: 0.8;
}


.cats .cat .cat__info .cat__info__price {
    font-size: 1.2em;
    color: green;
}
.cats .cat .cat__info .cat__info__price span {
    color: gray;
    font-size: 0.9em;
    text-decoration: line-through;
}
.cats .cat .cat__description {
    font-size: 0.9em;
    color: #666;
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}