body {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    height: 380px;
}

.wrapper input {
    position: relative;
    top: 220px;
    z-index: 50;
}

.good__cards {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 3600px;
    box-sizing: border-box;
    position: relative;
}

.good__cards li {
    margin: 0;
    padding: 3px;
    float: left;
    width: 300px;
    box-sizing: border-box;
}

.good__cards .good__card {
    padding: 7px;
    box-sizing: border-box;
}

.good__cards .good__card .good__card__img {
    text-align:  center;
    overflow: hidden;
    height: 180px;
}

.good__cards .good__card .good__card__img img {
    width: 100%;
    height: 100%;
}

.good__cards .good__card .good__card__description {
    display: none;
    text-align: justify;
}

.good__cards .good__card:hover {
    box-shadow: 0px 0px 3px;
    box-sizing: border-box;
    padding: 5px;
}

.good__cards .good__card:hover .good__card__description {
    display: block;
}

.controls {
    position: absolute;
    top: 210px;
    right: 47%;
}

#b1:checked ~ .good__cards {right: 0px;transition: 0.5s;}
#b2:checked ~ .good__cards {right: 900px;transition: 0.5s;}
#b3:checked ~ .good__cards {right: 1800px;transition: 0.5s;}
#b4:checked ~ .good__cards {right: 2400px;transition: 0.5s;}